## import libraries and files

In [5]:
# import libraries
import pandas as pd
import numpy as np
import os

In [7]:
# path
path = r'/Users/michele/desktop/CF/files/Module4/Instacart/Data'

In [9]:
#import files
df_ord = pd.read_pickle(os.path.join(path, 'Prepared', 'orders_prior_combined.pkl'))

In [11]:
df_prods = pd.read_csv(os.path.join(path, 'Prepared', 'products_clean.csv'))

## Merging dataframes

In [13]:
df_ord.shape

(32434489, 11)

In [15]:
# look for merging key
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [17]:
# merge df
df_prods_ords = df_ord.merge(df_prods, on = 'product_id', indicator = 'exists')

In [18]:
# check the df_prods_ords
df_prods_ords.head()

,Unnamed: 0,order_id,user_id,order_number,order_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists
0,0,2539329,1,1,2,8,0.0,196,1,0,both,Soda,77,7,9.0,both
1,0,2539329,1,1,2,8,0.0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,0,2539329,1,1,2,8,0.0,12427,3,0,both,Original Beef Jerky,23,19,4.4,both
3,0,2539329,1,1,2,8,0.0,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both
4,0,2539329,1,1,2,8,0.0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [21]:
# merge flag
df_prods_ords['exists'].value_counts()

exists
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [67]:
# export the dataframe

In [69]:
df_prods_ords.to_pickle(os.path.join(path, 'Prepared', 'products_orders_merged.pkl'))