## Importing libraries and files

In [4]:
# import libraries
import pandas as pd
import numpy as np
import os

In [6]:
# path
path = r'/Users/michele/Desktop/CF/files/Module4/Instacart/Data'

In [9]:
# import files
df_ords = pd.read_csv(os.path.join(path, 'Prepared', 'orders_clean.csv'), index_col = False)

In [11]:
df_ords_prior = pd.read_csv(os.path.join(path, 'Original', 'orders_products_prior.csv'), index_col = False)

## Merging dataframes

In [12]:
# check df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [12]:
df_ords_prior.shape

(32434489, 4)

In [15]:
# check df_ords
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,order_days_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,0.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [23]:
df_ords.shape

(3421083, 6)

In [17]:
# merge dataframes
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [19]:
# check df_merged_large
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,order_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,0.0,196,1,0,both
1,0,2539329,1,1,2,8,0.0,14084,2,0,both
2,0,2539329,1,1,2,8,0.0,12427,3,0,both
3,0,2539329,1,1,2,8,0.0,26088,4,0,both
4,0,2539329,1,1,2,8,0.0,26405,5,0,both

In [21]:
df_merged_large.shape

(32434489, 11)

In [25]:
df_merged_large.columns

Index(['Unnamed: 0', 'order_id', 'user_id', 'order_number',
       'order_days_of_week', 'order_hour_of_day', 'days_since_prior_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [27]:
df_merged_large.drop(columns = ['Unnamed: 0'])

,order_id,user_id,order_number,order_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,13,1,12,7.0,14197,5,1,both
32434485,2977660,206209,13,1,12,7.0,38730,6,0,both
32434486,2977660,206209,13,1,12,7.0,31477,7,0,both
32434487,2977660,206209,13,1,12,7.0,6567,8,0,both
32434488,2977660,206209,13,1,12,7.0,22920,9,0,both

In [29]:
# export df_merged_large
df_merged_large.to_pickle(os.path.join(path, 'Prepared', 'orders_prior_combined.pkl'))